body{
    margin: 0;
    padding: 0;
    background-image: url('../Images/fondoweb.jpg');
}
/* Personaliza el color del fondo del header */
.container {
    background-color: #ffffff; /* Código hexadecimal para blanco puro */
    max-width: 100%;
}

.navbar button{
  margin-right: 30px;
}

/* Estilos para los enlaces en la barra de navegación */
.navbar-nav {
  text-align: center; /* Centra los enlaces dentro del contenedor */
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Ajusta el espacio entre los elementos de navegación */
}

.navbar-nav .nav-link {
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  color: #000; /* Cambia el color del texto */
}

/* Estilos para los enlaces desplegables */
.navbar-nav .dropdown-menu {
  text-align: center; /* Centra los enlaces desplegables */
}

.navbar-nav .dropdown-item {
  font-size: 16px; /* Ajusta el tamaño de la fuente en los enlaces desplegables */
  color: #000; /* Cambia el color del texto en los enlaces desplegables */
}

/* Estilos para el botón de llamada a la acción (CTA) */
.btn-outline-primary {
  text-align: center;
  font-size: 18px; /* Ajusta el tamaño de la fuente del botón CTA */
  color: #000; /* Cambia el color del texto del botón CTA */
  border-color: #000; /* Cambia el color del borde del botón CTA */
}

/* Estilo adicional para resaltar el botón activo */
.navbar-nav .nav-item.active .nav-link {
  font-weight: bold; /* Puedes agregar negrita al enlace activo */
}


.bienvenida {
    height: 600px; /* Ajusta la altura según tus necesidades */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 50px; /* Ajusta el margen inferior */
  }
  
  
  .titulo-bienvenida {
    font-size: 3em; /* Ajusta el tamaño del título según tus necesidades */
    text-align: center;
    margin-top: 200px; /* Ajusta el espacio superior según tus necesidades */
    margin-bottom: 100px;
  }

  .card {
    margin-top: 20px;
    padding: 30px;
    max-width: 600px;
    max-height: 500px;
    opacity: 0;
    transition: opacity 0.9s ease-in-out; /* Ajusta el tiempo de transición de las cards */
    border: 1px solid #ddd; /* Borde de la card */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  .card-body {
    text-align: center; /* Centrar el contenido dentro de la card-body */
  }

  .card img{
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia el color de fondo a negro */
  border: 5px solid black; /* Añade un borde negro al icono */
}

/* Estilos adicionales para el color del texto en dispositivos de escritorio */
.carousel-control-prev, .carousel-control-next {
  color: black; /* Cambia el color del texto a negro */
}

.edicion-video {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    text-align: center;
    overflow: hidden;
  }
  
  .content {
    opacity: 0;
    animation: fadeIn 2s forwards; /* Animación de entrada lenta de 2 segundos */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .proceso-edicion {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .proceso-item {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .proceso-item i {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .herramientas-seccion {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
  }
  
  .titulo-herramientas {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .herramientas-iconos {
    display: flex;
    justify-content: center;
  }
  
  .herramienta {
    margin: 0 15px;
  }
  
  .herramienta img {
    width: 90px; /* Ajusta el tamaño según tus necesidades */
    height: 90px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 20%;
    display: block;
    margin: 0 auto;
  }

/* Estilos para formulario de contacto */
#contacto {
    background-color: #fff;
    color: #000;
    padding: 40px 0;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 /* Footer */
 footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 30px 0;
    margin-top: 100px;
    text-align: center;
  }

  footer img {
    width: 150px;
    margin-bottom: 20px;
  }

  footer p img {
    width: 30px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 30px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    border-radius: 50%; /* Puedes agregar bordes redondos a las imágenes */
    margin-right: 5px; /* Ajusta el margen entre la imagen y el texto del enlace */
  }

  .redes-sociales a {
    display: inline-block;
    margin-right: 10px; /* Ajusta el margen entre los íconos */
  }

  .redes-sociales a img {
    width: 30px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: 30px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    border-radius: 50%; /* Puedes agregar bordes redondos a las imágenes */
    margin-right: 5px; /* Ajusta el margen entre la imagen y el texto del enlace */
  }
  
  @media screen and (max-width: 767px) {
    /* Estilos específicos para pantallas más pequeñas, como dispositivos móviles */
    body{
      margin: 0;
      padding: 0;
    }
  
    .bienvenida {
      height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
      margin-bottom: 20px; /* Margen inferior más pequeño */
    }
    .footer {
      position: relative;
      bottom: 0;
      width: 100%;
    }

    
  }
